assets/mountain.mp4 filter=lfs diff=lfs merge=lfs -text
assets/cocktails.mp4 filter=lfs diff=lfs merge=lfs -text
assets/food.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
