@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  gap: 3%;
  grid-auto-rows: 6%;
  grid-template-columns: repeat(auto-fill, minmax(30%));
  font-size: 1rem;
  min-height: 100vh;
  padding: 3px; 
  background-color: black;
  opacity: 0.9;
}


.grid-container > * {
  border-radius: 10px;
  padding: 3px;
  text-align: center;

} 

/* .grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: minmax(100px, auto);
  grid-template: 
  "header" 9%
  "navbar"9%
  "main" auto
  "sidebar" auto 
  "footer" 6%;
} */

 .grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 6rem auto auto 3rem;
    grid-template-areas: 
      "header header"
      "sidebar main"
      "sidebar main"
      "footer footer";
    gap: 10px;
  }

  header {
    grid-area: header;
    display: grid;
    grid-column: 1/2;   
    grid-row: 1;
    align-items: center;

  }


  .navbar {
    display: grid;
    grid-area: navbar;
    grid-column: 2 / 3;
    grid-row: 1; 
    background-image: url('/assets/img/tableColors.jpg');
    background-size:contain;
  }

  .main{
    grid-area: main;
    display: grid;
    grid-column: 2 / 3;
    grid-row-start: 2;
    background-image: url('/assets/img/tableL_1.jpg');
    background-size:contain; 
    
    }


  .sidebar,
  .sidebar_home {
    grid-area: sidebar;
    display: grid;
    grid-column: 1/2;
    grid-row-start: 2;
    background-image: url('/assets/img/tableL_1.jpg');
    background-size:contain;
    text-align: center;
    opacity: 90%; 
  }
  


  .footer {
      grid-area: footer;
      display: grid;
      background-image: url('/assets/img/tableColors.jpg');
      grid-column: 1 / 3;
  }    


  .formulario {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

  }

.logoP{ 
  background-image: url('/assets/img/logo.png');
  
}
/* --------------NAVBAR---------------GO-- */  

  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 80%;
  }

  .navbar-item {
    margin-left: 5%;
    font-size: 86%;
  }
  .navbar-item:first-child{
    margin-left: 0;
  }
    

/* --------------HEADER--------------END--- */
.logo{
  position:relative;
  width: 28%;
  height: auto;
  background-color: #cacccda8;
  border-radius: 23px;
}
header{
  background-image: url('/assets/img/madera.jpg');
  background-size:contain; 
  
}
/* --------------HEADER--------------END--- */   


/* --------------NAVBAR--------------END--- */


/* --------------SIDEBAR---------------GO-- */
/* .sidebar{
  display: grid;
  gap: 3%;
  grid-auto-rows: 16%;
  grid-template-columns: repeat(auto-fill, minmax(10%));
} */

.sidebar_home{
  background-image: url('/assets/img/tableL.jpg');
  background-size:contain; 
  
}
.imgTecnology{
padding-top: 6%;
}

  

.itemImgTecnology{
  width: 13%;
  height: auto;
}

.itemImgTecnology:hover{
  width: 15%;
  height: auto;
}


.recipe-container {
  position: fixed;
  padding-top: 2%;
  padding-bottom: 13%;
  width: 13%; /* Ajusta este valor según el diseño de tu sidebar */

}
.recipe-container img {
    height: auto;
    width: 50%;
  }
  .recipe-container img:hover {
    height: auto;
    width: 60%;
    background-image: url('/assets/img/madera.jpg');
    background-size:contain; 
    border-radius: 3%;
    box-shadow: 3px 3px 9px black;
  }  

.ingredient-button:hover{
  background-color: rgba(245, 245, 245, 0.609);
  border-radius: 5%;
}

.p_sidebar{
  color: rgb(12, 12, 12);
}

.a_sidebar{
  color: orangered;
}

#form_sidebar{
  background-image: url('/assets/img/charles.jpg');
  background-size:cover;
  background-position: 26%; 
}

/* --------------SIDEBAR--------------END-- */

/* --------------MAIN--------------GO-- */


#mainHome {
    background-image: url('/assets/img/pexels-anniroenkae-2457278.jpg');
    background-size:cover; 
    
}

.main{
  display: grid;
  gap: 3%;
  grid-auto-rows: 16%;
  grid-template-columns: repeat(auto-fill, minmax(10%));
}

.contentMainsHome{
  display: grid;
  padding: 3%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.imgRandom{
  display: grid;
  width: 100%;
  height: auto;
  transition: opacity 0.5s;
  border-radius: 1em;
  box-shadow: 3px 3px 9px black;
}
.imgRandom:hover{
  background-color: #0e1012ee;
  box-shadow: 6px 6px 19px black;
}

.video-home{
  width: 90%; 
  height: auto;
}
    /* ---MAIN HOME TEXT---GO-- */

    .hidden {
      opacity:0;
    }
    .console-container { 
      font-family:Khula;
      font-size:4em;
      text-align:center;
      height:200px;
      width:600px;
      display:block;
      position:absolute;
      color:white;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
    }

    /* ---MAIN HOME TEXT---END-- */

/* --------------MAIN--------------END-- */

/*--------------- FOOTER ---------GO-------*/


  /* @media (min-width:768px) {
    grid-template: 
      "header navbar" 100px
      "header navbar" 40px
      "sidebar main" auto 
      "footer footer" 60px/
      300px auto;
  }
  @media (min-width:992px) {
    grid-template: 
      "header navbar navbar" 100px
      "sidebar main main" auto
      "footer footer footer" 66px /
      360px auto;
  } */

.navbar-menu-footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-item-footer {
  margin-left: 46px;
  font-size: 11px;
  
}
.navbar-item-footer:first-child{
  margin-left: 0;
}


/*--------------- FOOTER ------------END----*/



/*--------------- List-Products ------------GO----*/

.product {
  display: inline-grid;
  vertical-align: top;
  margin: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 20px;
  max-width: 30%;
  background-color: #361d1182;

}
.product:hover{
  background-color: #ed424d6c;
  /* max-width: 32%;
  max-height: 28%;
  min-height: 28%;
  min-width: 32%; */
  box-shadow: 6px 6px 23px black;
  background-image: url('/assets/img/madera.jpg');
  background-size:contain; 
}
.product h2 {
  margin-top: 0;
  color: #ccc;
  font-size:90%;
}

.product h2:hover {
  color: white;
  font-size:larger;
}

.product img {
  max-width: 60%;
  min-height: 30%;
}

/*--------- Button -------GO----*/
#button_selector {
  background-color:#5d593676;
  color: white;
  border-radius: 6px;
  height: 100%;
  width: 90%;
  font-size:larger;
  border: none;
}  

#button_selector:hover {
  background-color:#0b9550ab;
  color: white;
} 
#button_form {
  background-color:#5d593676;
  color: white;
  border-radius: 6px;
  height: 1.5em;
  width: 9em;
  font-size:larger;
} 
#button_form:hover {
  background-color:#0b9550ab;
  color: white;
} 

#modal {
  vertical-align: top;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  padding: 1%;
}
/*--------- Button -------END----*/
#modal img {
  width: 30%;
  height: 30%;
  align-items: flex-start;
  
}

#modal ul {
  list-style-type: none; 
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
  color: #331C17;
  background-color: rgba(164, 166, 167, 0.349);
  
}

#modal-content {
  background: #fffef3;
  padding: 3%;
  border-radius: 25px;
  max-width: 83%;
  width: 100%;
  max-width: 60%;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.close {
  float: right;
  font-size: 1.9em;
  cursor: pointer;
  color: white;
  background-color: #331C17;
  border-radius: 9px;

}

.close:hover {
  float: right;
  
  cursor: pointer;
  color: black;
  background-color: #ed424dab;
  border-radius: 9em;

}

/*------------ List-Products - END ---------------*/

#index{
  background-color: black;
  justify-content: space-around;
}


/*--------- VIDEO--------GO- */
.video-background{
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.60;
} 
.iframe{
  width: 46%;
  height: 600px;
  border-radius: 6px;
  box-shadow: 6px 6px 19px black;
  opacity: 0.39;
}

#index_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: for a semi-transparent background */
  border-radius: 10px;
}

  .button_video{
    font-family: "Love Ya Like A Sister"; /*------Pablo------*/
    display: inline-flex; /*------Pablo------*/
    color: #73deec3b; /*------Pablo------*/
    background-color: #ffffff00; /*------Pablo------*/
    border-color: #ffffff00; /*------Pablo------*/
    font-size: 3.5rem; /*------Pablo------*/
    width: 100%; /*------Pablo------*/
    height: 100%; /*------Pablo------*/
    text-align: start; /*------Pablo------*/
  }
  .video-index2{
    width: 100%;
    height: 100%;
  }
  .index2{ /*------Pablo------*/
    font-size: 1rem; /*------Pablo------*/
    min-height: 100vh; /*------Pablo------*/
    padding: 0px; /*------Pablo------*/
    background-color: black; /*------Pablo------*/
    opacity: 0.9; /*------Pablo------*/
    }
    .container_button_video{ /*------Pablo------*/
      position: absolute; /*------Pablo------*/
      width: 60%; /*------Pablo------*/
      height: 10%; /*------Pablo------*/
    }
    .bubutton_video{ /*------Pablo------*/
      width: 100%; /*------Pablo------*/
      height: 100%; /*------Pablo------*/
      opacity: 0 /*------Pablo------*/
    }
  
  /*--------- VIDEO--------END- */
  
  /*--------- TITLES --------GO- */
  .title {
      display: grid;
      font-family: "Jersey 10 Charted", sans-serif;
      color: #101315;
      background-color: #D1CABB;
      justify-content: center;
      font-size: 3em;
      text-decoration: none; /*------Pablo------*/
  }
  .title:hover{
    color: #D1CABB;
    background-color: #2A1711;
  }
  
  .title1  {
      font-family: "Rock Salt", cursive;
      font-weight: 16em;
      font-style: normal;
      color: beige;
    }
  
  .title2{
      font-family: "Love Ya Like A Sister", cursive;
      font-weight: 6em;
      font-style: normal;
      color: #352220;
    }

  #title_sidebar{
    color: #0b5d95;

  }
    
  /*--------- TITLES --------END- */
  
  /* -------- Saludo-Index --------GO- */
  
  div.vienvenida {
    display:inline-block;
    position: relative;
    width: 1045px;
    height: 80px;
  }
  
  p.bubutton_video{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  a.icono {
    list-style: none;
    width: 1045px;
    height: 70px;
    background-color: #ffffff00;
    text-align: center;
    line-height: 80px;
    font-size: 0px;
    margin: 0 10px;
    display: block;
    border-radius: 1%;
    position: relative;
    overflow: hidden;
    border: 3px solid #33423800;
  }
  
  a.icono {
    position: relative;
    color: #262626;
    transition: 1s;
  }
  
  a.icono:hover {
    color: #fff;
  }
  
  a.icono:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 114, 175, 0.288);
    transition: 2.5s;
  }
  
  a.icono:hover:before {
    top: 0;
  }
  
  /* -------- Saludo-Index -------END- */
  
  /* -------- Estilos para Contacto -------ON- */
  
  
  .form-container{
    font-family: "Love Ya Like A Sister"; /*------Pablo------*/
    font-size: 1.5rem;
    max-width: 60%;
    margin: 10;
    padding: 10px;
    background-color: rgba(164, 166, 167, 0.627);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .message-container {
    font-family: "Love Ya Like A Sister"; /*------Pablo------*/
    font-size: 1.5rem;
    max-width: 100%;
    margin: 10;
    padding: 10px;
    background-color: rgba(70, 157, 125, 0.627);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  
  input {
    font-size: 1.2rem;
  }
  
  .form-group {
    margin-bottom: 40px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 200px;
  }
  
  .mensaje-imagen {
    max-width: 80%;
    /* Ajusta el ancho máximo de la imagen para que se ajuste al contenedor */
    height: auto;
    /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-top: 20px;
    /* Margen superior para separar la imagen del contenido del mensaje */
  }
  
  .mensajesList {
    max-width: 800px;
    /* Ajusta este valor según el ancho deseado */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    padding: 0 30px;
    /* Agrega un poco de espacio alrededor del contenido */
  }
  .form-group label,
  .form-group input[type="checkbox"] {
    display: inline;
  }
  
  
  button[type="submit"] {
    background-color: rgba(164, 166, 167, 0.514);
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(164, 166, 167, 0.747);
  }

  
  .form-column {
    flex: 1;
    padding-right: 20px;
    /* Espacio entre columnas */
  }
  
  .contact-column {
    flex: 1;
    padding: 20px;
    margin: 20px auto;
    justify-content: center;
    /* Centrado horizontal */
    align-items: center;
    /* Centrado vertical */
    height: 100%;
    /* Asegura que ocupe toda la altura de su contenedor */
    text-align: center;
    vertical-align: middle;
  }
  
  /* Estilos autos */
  section {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .container-autos {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .autos {
    float: left;
    width: 25%;
    padding: 20px;
  }
  
  .autos img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .info {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
  
  /* Estilo atracciones */
  .container-atracciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Asegura que haya espacio entre los elementos */
    margin: 20px auto;
    max-width: 1000px;
  }
  
  .box {
    width: calc(40% - 20px);
    /* Ancho del 50% menos el espacio */
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.3s ease;
    /* Transición suave para animaciones */
  }
  
  .box:hover {
    transform: translateY(-5px);
    /* Efecto de levantamiento al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    /* Sombra suave al pasar el mouse */
  }
  
  .box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .box h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
  }
  
  .box p {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
  }
  

  /*/////////////////////////////////////////////////////////*/
  
  