<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyect</title>
    <link  rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link  href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    </head>
    <body class="grid-container" id="cocktails">


    <header class="header"><img src="/assets/img/logo.png" alt="Logo" class="logo"></header>
<!------------------------------------- Navbar -------------------------------------------GO--->
    <nav class="navbar">

      <!-----Search----GO--->
      <!-- <div class="search-box">
        <input type="text" placeholder="Search...">
        <button><i class="fas fa-search"></i></button>
      </div> -->
      <!-----Search----END--->
      <ul class="navbar-menu">
        <li class="navbar-item">
        <a class="title" href="/views/home.html">Home</a>
        </li>
        <li class="navbar-item">
        <a class="title" href="/views/gastronomy.html">Gastronomy</a>
        </li>
        <li class="navbar-item">
        <a class="title" href="/views/cocktails.html">Cocktails</a>
        </li>
        <li class="navbar-item">
          <a class="title" href="/views/form.html">Contact</a>
      </li>
    </ul>
    </nav>
<!------------------------------------- Navbar -------------------------------------------END--->

    <!------------------------------------- Sidebar -------------------------------------------GO--->
    <aside class="sidebar">     
      <h2 class="title2">Main ingredients</h2>   

        <div class="recipe-container">
          <div class="ingredient-button" onclick="fetchData('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=gin', 'drink')">
              <img src="https://www.thecocktaildb.com/images/ingredients/Gin.png" alt="Gin" onclick="getCocktails('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=gin')">
              <h3></h3>
              <button id="button_selector">Gin</button>
          </div>
          <div class="ingredient-button" onclick="fetchData('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=rum', 'drink')">
              <img src="https://www.thecocktaildb.com/images/ingredients/Rum.png" alt="Rum" onclick="getCocktails('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=rum')">
              <button id="button_selector">Rum</button>
          </div>
          <div class="ingredient-button" onclick="fetchData('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=tequila', 'drink')">
              <img src="https://www.thecocktaildb.com/images/ingredients/Tequila.png" alt="Tequila" onclick="getCocktails('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=tequila')">
              <button id="button_selector">Tequila</button>
          </div>
          <div class="ingredient-button" onclick="fetchData('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=vodka', 'drink')">
              <img src="https://www.thecocktaildb.com/images/ingredients/Vodka.png" alt="Vodka" onclick="getCocktails('https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=vodka')">
              <button id="button_selector">Vodka</button>
          </div>
    
      </div>

    </aside>
<!------------------------------------- Sidebar -------------------------------------------END---> 

<!------------------------------------- Main -------------------------------------------GO--->
    <article class="main">
      <h1 style="color: aquamarine;">Cocktails</h1>

        <!---------------- List-Products ------------GO-->
      

    <div id="recipesDiv"></div>

      <div id="modal">
          <div id="modal-content">
              <span class="close">&times;</span>
              <h2 id="modal-title"></h2>
              <img id="modal-image" src="" alt="">
              <h3>Ingredientes</h3>
              <ul id="modal-ingredients"></ul>
              <p id="modal-instructions"></p>
          </div>
      </div>

    </article>
<!------------------------------------- Main -------------------------------------------END--->

<!------------------------------------- Footer -------------------------------------------GO--->
    <footer class="footer">

      <div>
        <ul class="navbar-menu-footer">
          <li class="navbar-item-footer">
            <a class="title" href="/views/home.html">Home</a>
          </li>
          <li class="navbar-item-footer">
            <a class="title" href="/views/form.html">Contact</a>
          </li>
        </ul>
      </div>
    </footer>
<!------------------------------------- Footer -------------------------------------------END--->
    <script src="/app.js"></script>
    </body>
</html>