<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Proyect</title>
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap" rel="stylesheet"
        />
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    </head>
    <body class="grid-container">

        <header class="header"><img src="/assets/img/logo.png" alt="Logo" class="logo"></header>
        
<!------------------------------------- Navbar -------------------------------------------GO--->
        <nav class="navbar"> 

            <div class="">
              <ul class="navbar-menu">
                <li class="navbar-item">
                <a class="title" href="home.html">Home</a>
                </li>
                <li class="navbar-item">
                <a class="title" href="gastronomy.html">Gastronomy</a>
                </li>
                <li class="navbar-item">
                <a class="title" href="cocktails.html">Cocktails</a>
                </li>
                <li class="navbar-item">
                    <a class="title" href="/views/form.html">Contact</a>
                </li>
            </ul>
            </div>
        </nav>
<!------------------------------------- Navbar -------------------------------------------END--->

<aside class="form_sidebar">
</aside>

<!------------------------------------- Form -------------------------------------------GO--->


<!------------------------------------- Main -------------------------------------------GO--->
<article class="main" id="mainHome">

    <div class="formulario">

        <div class="form-container">
            <form id="formulario">

                <div class="form-group">
                    <label for="nombre">New Recipe</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Recipe Name" required>
                </div>

                <div class="form-group">
                    <label for="ingredients">Ingredients</label>
                    <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients" required>
                </div>

                <div class="form-group">
                    <label for="mensaje">Instructions for preparation</label>
                    <textarea id="mensaje" name="mensaje" placeholder="Preparation" maxlength="1000" oninput="actualizarContador()" required></textarea>
                    <div id="contador">1000/1000</div>
                </div>

                <div>
                    <label for="foto">Foto</label>
                    <input type="file" id="foto" name="foto" accept="image/jpeg, image/png, video/mp4" required>
                </div>
                <br><br>
                <button id="button_form" type="submit" >Send</button>

            </form>
        </div>

        <div id="mensajesList"></div>

    </div>


</article>
<!------------------------------------- Main -------------------------------------------END--->



<!------------------------------------- Form -------------------------------------------END--->
        
<!------------------------------------- Footer -------------------------------------------GO--->
        <footer class="footer">

            <div>
                <ul class="navbar-menu-footer">
                    <li class="navbar-item-footer">
                      <a class="title" href="index.html">Home</a>
                    </li>
                    <li class="navbar-item-footer">
                      <a class="title" href="form.html">Contact</a>
                    </li>
                  </ul>
            </div>
            
        </footer>
<!------------------------------------- Footer -------------------------------------------END--->      

        <script src="/app.js"></script>
    </body>
</html>

