<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyect</title>
    <link  rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link  href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    </head>
    <body class="grid-container">


    <header class="header"><h1 class="title1">G&C</h1></header>
<!------------------------------------- Navbar -------------------------------------------GO--->
    <nav class="navbar">

      <!-----Search----GO--->
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <button><i class="fas fa-search"></i></button>
      </div>
      <!-----Search----END--->

        <ul class="navbar-menu">
          <li class="navbar-item">
          <a class="title" href="/views/home.html">Home</a>
          </li>
          <li class="navbar-item">
          <a class="title" href="/views/gastronomy.html">Gastronomy</a>
          </li>
          <li class="navbar-item">
          <a class="title" href="/views/cocktails.html">Cocktails</a>
          </li>
      </ul>
    </nav>
<!------------------------------------- Navbar -------------------------------------------END--->

<!------------------------------------- Sidebar -------------------------------------------GO--->
    <aside class="sidebar">
      <h3 class="title2">Gastronomy of the World</h3>
        
        <!-- <div id="recipe-container"></div> -->

        <div class="recipe-container">
          <div class="ingredient-button" onclick="getMeals('https://www.themealdb.com/api/json/v1/1/filter.php?i=chicken')">
              <img src="https://www.themealdb.com/images/ingredients/Chicken.png" alt="Chicken">
              <h3></h3>
              <button>Chicken</button>
          </div>
          <div class="ingredient-button" onclick="getMeals('https://www.themealdb.com/api/json/v1/1/filter.php?i=Beef')">
              <img src="https://www.themealdb.com/images/ingredients/Beef.png" alt="Beef">
              <button>Beef</button>
          </div>
          <div class="ingredient-button" onclick="getMeals('https://www.themealdb.com/api/json/v1/1/filter.php?i=Pork')">
              <img src="https://www.themealdb.com/images/ingredients/Pork.png" alt="Pork">
              <button>Pork</button>
          </div>
          <div class="ingredient-button" onclick="getMeals('https://www.themealdb.com/api/json/v1/1/filter.php?i=Salmon')">
              <img src="https://www.themealdb.com/images/ingredients/Salmon.png" alt="Salmon">
              <button>Salmon</button>
          </div>
          <!-- <div class="ingredient-button" onclick="getMeals('https://www.themealdb.com/api/json/v1/1/filter.php?c=Pasta')">
            <img src="https://www.themealdb.com/images/media/meals/usywpp1511189717.jpg" alt="Pasta">
            <button>Pasta</button>
          </div> -->

          
      </div>

        

    </aside>
<!------------------------------------- Sidebar -------------------------------------------END---> 

<!------------------------------------- Main -------------------------------------------GO--->
    <article class="main">
      <h1 style="color: aquamarine;">Gastronomy</h1>

        <!---------------- List-Products ------------GO-->
      
      <div id="mealsDiv"></div>

    <div id="recipesDiv"></div>

      <div id="modal">
          <div id="modal-content">
              <span class="close">&times;</span>
              <h2 id="modal-title"></h2>
              <img id="modal-image" src="" alt="">
              <h3>Ingredientes</h3>
              <ul id="modal-ingredients"></ul>
              <p id="modal-instructions"></p>
          </div>
      </div>


  <!-- --GO--
  <ul id="lista-categorias"></ul>  
    <h2>Hamburguesa</h2>
        <img src="/assets/hamburguesa.jpg">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, reprehenderit fugit voluptatum veritatis dignissimos aliquid.
          Architecto, et! Tenetur, non cumque quae earum aspernatur totam odio laboriosam quidem sunt? Veniam, velit?</p>
        <button class="like-button" onclick="toggleLike('product1')">Me gusta</button>
        <p id="like-count-product1">0</p>
    </div>

  --------------- List-Products ------------END-->

    </article>
<!------------------------------------- Main -------------------------------------------END--->

<!------------------------------------- Footer -------------------------------------------GO--->
    <footer class="footer">

      <div>
        <ul class="navbar-menu-footer">
          <li class="navbar-item-footer">
            <a class="title" href="/views/home.html">Home</a>
          </li>
          <li class="navbar-item-footer">
            <a class="title" href="/views/form.html">Contact</a>
          </li>
        </ul>
      </div>
    </footer>
<!------------------------------------- Footer -------------------------------------------END--->
    <script src="/app1.js"></script>
    </body>
</html>