<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyect</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" /> 
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
  </head>
  <body class="grid-container">
    <header class="header"><img src="/assets/img/logo.png" alt="Logo" class="logo"></header>
<!------------------------------------- Navbar -------------------------------------------GO--->
    <nav class="navbar">
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a class="title" href="/index.html">Home</a>
        </li>
        <li class="navbar-item">
          <a class="title" href="/views/gastronomy.html">Gastronomy</a>
        </li>
        <li class="navbar-item">
          <a class="title" href="/views/cocktails.html" >Cocktails</a>
        </li>
        <li class="navbar-item">
          <a class="title" href="/views/form.html">Contact</a>
      </li>
      </ul>
    </nav>
<!------------------------------------- Navbar -------------------------------------------END--->

<!------------------------------------- Sidebar -------------------------------------------GO--->
    <aside class="sidebar_home">
 
      <h2 class="title1" id="title_sidebar">Gourmet World</h2>
      <p class="p_sidebar">
          Este proyecto es parte del curso <strong>Codo a Codo</strong>. La aplicación permite a los usuarios explorar recetas gastronómicas y cócteles de manera sencilla. Aquí tienes una breve descripción de las funcionalidades principales:
      </p><br>
      <h3 class="title1" id="title_sidebar">Página de Inicio</h3>
      <p class="p_sidebar">
          Muestra una receta y un cóctel aleatorios al cargar la página para inspirarte con nuevas ideas culinarias y de bebidas.
      </p><br>
      <h3 class="title1" id="title_sidebar">Sección de Gastronomía</h3>
      <p class="p_sidebar">
          Explora diversas recetas a base de pollo. Cada receta incluye una imagen, descripción y un botón para ver más detalles.
      </p><br>
      <h3 class="title1" id="title_sidebar">Sección de Cócteles</h3>
      <p class="p_sidebar">
          Descubre cócteles basados en ginebra. Cada cóctel se presenta con una imagen, descripción y un botón para obtener más información.
      </p><br>
      <h3 class="title1" id="title_sidebar">Modal de Detalles</h3>
      <p class="p_sidebar">
          Al hacer clic en "Ver más", se abre una ventana modal que muestra detalles adicionales de la receta o cóctel seleccionado, incluyendo ingredientes y pasos de preparación.
      </p><br>
      <h3 lass="title1" id="title_sidebar">Tecnologías Utilizadas</h3>
      <p class="p_sidebar">
          <strong>HTML</strong> y <strong>CSS</strong> para la estructura y el estilo de la página.<br>
          <strong>JavaScript</strong> para la lógica de la aplicación y consumo de APIs.<br>
          <strong>Fetch API</strong> para obtener datos de <a class="a_sidebar" href="https://www.themealdb.com" target="_blank">TheMealDB</a> y <a class="a_sidebar" href="https://www.thecocktaildb.com" target="_blank">TheCocktailDB</a>.
      </p>
      <div class="imgTecnology">
        <img class="itemImgTecnology" src="/assets/img/html5.svg" alt="html">
        <img class="itemImgTecnology" src="/assets/img/css3.svg" alt="css">
        <img class="itemImgTecnology" src="/assets/img/javascript.svg" alt="javascript">
        <img class="itemImgTecnology" src="/assets/img/github.svg" alt="github">
        <img class="itemImgTecnology" src="/assets/img/visualstudiocode.svg" alt="visualstudiocode">
      </div>


    </aside>

<!------------------------------------- Sidebar -------------------------------------------END--->    

<!------------------------------------- Main -------------------------------------------GO--->
    <article class="main" id="mainHome">

    <div class="contentMainsHome">

      <div id="home" class="contentMains">
        <div id="randomMealDiv" onclick="window.location.href='/views/gastronomy.html'"></div>
      </div>

      <div id="home" class="contentMains">          
        <div id="randomDrinkDiv" onclick="window.location.href='/views/cocktails.html'"></div>
      </div>
      

            <!-- <video
            class="video-home"
            autoplay
            muted
            loop
            onclick="window.location.href='/views/gastronomy.html'"
          ><source src="/assets/food.mp4" type="video/mp4" />
          </video>            -->
          
          <!-- <video
            class="video-home"
            autoplay
            muted
            loop
            onclick="window.location.href='/views/cocktails.html'">
            
            <source src="/assets/cocktails.mp4" type="video/mp4" />
          </video> -->

          <!-- <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'></div></div> -->


    </article>

<!------------------------------------- Main -------------------------------------------END--->

<!------------------------------------- Footer -------------------------------------------GO--->
<footer class="footer">

 
        
  
    <div>
      <ul class="navbar-menu-footer">
          <li class="navbar-item-footer">
            <a class="title" href="/views/index.html">Home</a>
          </li>
          <li class="navbar-item-footer">
            <a class="title" href="/views/form.html">Contact</a>
          </li>
      </ul>
    </div>
    </footer>
<!------------------------------------- Footer -------------------------------------------END--->
    <script src="/app.js"></script>
  </body>
</html>
